@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: rgb(240, 240, 240);
  font-size: 35px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(251, 199, 127);
}

header {
  padding: 10px;
}

.departures {
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.departures table {
  background-color: rgb(46, 46, 46);
  text-align: left;
}

.departures table td {
  height: 50px;
}

.departures table div {
  border: solid 4px rgb(26, 26, 26);
  background-color: black;
  min-width: 20px;
  height: 40px;
  float:left;
}

#time {
  width: 160px; 
}

#destination {
  width: 260px;
}

#flight {
  width: 205px;
}

#gate {
  width: 135px;
}

#remarks {
  width: 260px;
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}
